body {
	width: 100%;
}
h2 {
	font-size: 12px:
}
div.center_login
{
  width : 180px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div.center_links
{
  width : 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.accountHeader{
  display: block;
  text-align: left;
}
a.folder{
  margin: 6px;
}


li.home_btn{
  border: 1px solid #D8D8D8;
  border-width: 1px;
  border-radius: 2px;

}
li.user_btn{
  border: 1px solid #D8D8D8;
  border-width: 1px;
  border-radius: 2px;
  margin-left:10px;

}
.icon-pt {
  background-image: url("/static/pt.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 24px;
  width: 24px;
}
.li_pt:hover{
  color: #35A2BF;
}
.li_song:hover{
  color: #1BA68C;
}
.li_link:hover{
  color: #F2B035;
}
.close {
  bottom:10px;
}